#gamebody {
      background-color: #201D1D;
      text-align: center;
      color: white;
      text-decoration: none;
      font-family: sans-serif;
      overflow-x: hidden;
      height: 96%;
    }


/*h1  {
    text-align: center;
    word-spacing: 30px;
    }


 li {
     display: inline;
     padding: 30px;
 }

 p   { 
    font-size: 20px;
    }
*/
.name li{
	 display: inline;
	 padding: 50px;
     font-size: 50px;
     font-weight: bold;
}

#info li{
	 display: inline;
	 font-size: 30px; 
     padding: 10px;
}

#number li{
	 display: inline;
     padding: 50px;
}

#show li{
	display: inline;
    padding: 30px;

}

#cal li{
	display: inline;
     padding: 30px;

}

#name {
	display: inline;
	font-size: 28;
	font-weight: bold;
}

#cal input[type="button"] {
    width: 120px;
    display: block;
}

.playorexit li{
	display: inline;
    padding: 30px;

}

.numberclicked {
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
  background-color:#778899;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3866a3;
  display:inline-block;
  cursor: default;
  color:#14396a;
  font-family:Trebuchet MS;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
}

.number {
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
  background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
  background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
  background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
  background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
  background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
  background-color:#63b8ee;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3866a3;
  display:inline-block;
  cursor:pointer;
  color:#14396a;
  font-family:Trebuchet MS;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
}
.number:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
  background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
  background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
  background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
  background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
  background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
  background-color:#468ccf;
}
.number:active {
  position:relative;
  top:1px;
}


.myButton {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
  background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
  background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
  background-color:#e4685d;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  border:2px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Impact;
  font-size:28px;
  font-weight:bold;
  padding:9px 48px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}

.css-input { border-color:#F7EFEF; border-style:solid; padding:12px; font-size:24px; border-width:8px; border-radius:15px;  } 
     .css-input:focus { outline:none; } 

.equal{
  font-size: 28px;
  display: inline;
}

.choice1 {
  -moz-box-shadow:inset 0px 1px 0px 0px #71FAB5;
  -webkit-box-shadow:inset 0px 1px 0px 0px #71FAB5;
  box-shadow:inset 0px 1px 0px 0px #71FAB5;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3FF5A3), color-stop(1, #46D062));
  background:-moz-linear-gradient(top, #3FF5A3 5%, #46D062 100%);
  background:-webkit-linear-gradient(top, #3FF5A3 5%, #46D062 100%);
  background:-o-linear-gradient(top, #3FF5A3 5%, #46D062 100%);
  background:-ms-linear-gradient(top, #3FF5A3 5%, #46D062 100%);
  background:linear-gradient(to bottom, #3FF5A3 5%, #46D062 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FF5A3', endColorstr='#468ccf',GradientType=0);
  background-color:#3FF5A3;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3866a3;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Trebuchet MS;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
}
.choice1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #46D062), color-stop(1, #3FF5A3));
  background:-moz-linear-gradient(top, #46D062 5%, #3FF5A3 100%);
  background:-webkit-linear-gradient(top, #46D062 5%, #3FF5A3 100%);
  background:-o-linear-gradient(top, #46D062 5%, #3FF5A3 100%);
  background:-ms-linear-gradient(top, #46D062 5%, #3FF5A3 100%);
  background:linear-gradient(to bottom, #46D062 5%, #3FF5A3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#46D062', endColorstr='#3FF5A3',GradientType=0);
  background-color:#46D062;
}
.choice1:active {
  position:relative;
  top:1px;
}

.choice2 {
  -moz-box-shadow:inset 0px 1px 0px 0px #71FAB5;
  -webkit-box-shadow:inset 0px 1px 0px 0px #71FAB5;
  box-shadow:inset 0px 1px 0px 0px #71FAB5;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DF2B43), color-stop(1, #D04F60));
  background:-moz-linear-gradient(top, #DF2B43 5%, #D04F60 100%);
  background:-webkit-linear-gradient(top, #DF2B43 5%, #D04F60 100%);
  background:-o-linear-gradient(top, #DF2B43 5%, #D04F60 100%);
  background:-ms-linear-gradient(top, #DF2B43 5%, #D04F60 100%);
  background:linear-gradient(to bottom, #DF2B43 5%, #D04F60 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF2B43', endColorstr='#468ccf',GradientType=0);
  background-color:#DF2B43;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3866a3;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Trebuchet MS;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
}
.choice2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D04F60), color-stop(1, #DF2B43));
  background:-moz-linear-gradient(top, #D04F60 5%, #DF2B43 100%);
  background:-webkit-linear-gradient(top, #D04F60 5%, #DF2B43 100%);
  background:-o-linear-gradient(top, #D04F60 5%, #DF2B43 100%);
  background:-ms-linear-gradient(top, #D04F60 5%, #DF2B43 100%);
  background:linear-gradient(to bottom, #D04F60 5%, #DF2B43 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D04F60', endColorstr='#DF2B43',GradientType=0);
  background-color:#D04F60;
}
.choice2:active {
  position:relative;
  top:1px;
}



